[Unit]
Description=DP Accelerator Service responsible for downloading Fusion data from cloud storage
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

Restart=on-failure
RestartSec=10

WorkingDirectory=/opt/capella
ExecStart=/opt/capella/bin/dp-accelerator

PermissionsStartOnly=true
ExecStopPost=/opt/capella/bin/log-shipper.sh

# log output to journal
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dpaccelerator

[Install]
WantedBy=multi-user.target
