[Unit]
Description=DP Backup Service responsible for managing backups for Couchbase Capella clusters
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

Restart=on-failure
RestartSec=10s

WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/dp-backup

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /home/ec2-user/logs
ExecStartPre=/usr/bin/chmod 755 /home/ec2-user/logs
ExecStartPre=/usr/bin/mkdir -p /home/ec2-user/staging
ExecStartPre=/usr/bin/chmod 755 /home/ec2-user/staging
ExecStartPre=/usr/bin/chown ec2-user /home/ec2-user/staging
ExecStartPre=/usr/bin/chown ec2-user /home/ec2-user/logs
ExecStartPre=/usr/bin/touch /home/ec2-user/logs/events.log
ExecStartPre=/usr/bin/chown ec2-user /home/ec2-user/logs/events.log
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dpbackup

[Install]
WantedBy=graphical.target
