# General Information
AGENT_VERSION='11.0.4'
BACKEND_ADDRESS='PHONYBACKEND'
CUSTOMER_ID='PHONYCUSTID'
SECRET='PHONYSECRET'

PKG_PATH_D="https://shorelinedownload.blob.core.windows.net/agent/deb/arm"
SHORELINE_PKG_DEB="${PKG_PATH_D}/shoreline_11.0.4.deb"

PKG_PATH_R="https://shorelinedownload.blob.core.windows.net/agent/rpm/arm"
SHORELINE_PKG_RPM="${PKG_PATH_R}/shoreline-agent-11.0.4.noarch.rpm ${PKG_PATH_R}/shoreline-agent-conf-11.0.4.noarch.rpm ${PKG_PATH_R}/shoreline-exporter-11.0.4.noarch.rpm"

ALLOW_SUDO=true
NODE_EXPORTER_VERSION='v1.3.1'
NODE_EXPORTER_DISABLE=1

# Below values can be customized
AGENT_IMAGE='shorelinesoftware/agent'
AGENT_IMAGE_TAG="release-${AGENT_VERSION}-multiarch"
#DOCKER_USERNAME=''
#DOCKER_TOKEN=''

# Set to false for AMI.
#AUTO_START=true

# For host network mode, use 'host'
DOCKER_NETWORK='bridge'

BACKEND_CERT=$(cat <<EOC
PHONYCERT
EOC
)
