# General Information
AGENT_VERSION='13.0.22'
BACKEND_ADDRESS='PLACEHOLDER_BACKEND_ADDRESS'
CUSTOMER_ID='PLACEHOLDER_CUSTOMER_ID'
SECRET='PLACEHOLDER_SECRET'
SUFFIX_D="-podman.deb"
PKG_PATH_D="https://shorelinedownload.blob.core.windows.net/agent/podman/deb"
SHORELINE_PKG_DEB="${PKG_PATH_D}/shoreline_${AGENT_VERSION}${SUFFIX_D}"
SUFFIX_R="-podman.noarch.rpm"
PKG_PATH_R="https://shorelinedownload.blob.core.windows.net/agent/podman/rpm"
SHORELINE_PKG_RPM="${PKG_PATH_R}/shoreline-agent-${AGENT_VERSION}${SUFFIX_R} ${PKG_PATH_R}/shoreline-agent-conf-${AGENT_VERSION}${SUFFIX_R} ${PKG_PATH_R}/shoreline-exporter-${AGENT_VERSION}${SUFFIX_R}"
ALLOW_SUDO=true
NODE_EXPORTER_VERSION='v1.5.0'
# Use podman instead of docker
USE_PODMAN=true
# Whether to run podman as root.
# Set PODMAN_ROOTFUL=true for Amazon Linux (default is false).
PODMAN_ROOTFUL=true
# Below values can be customized
AGENT_IMAGE='docker.io/shorelinesoftware/agent'
AGENT_IMAGE_TAG="release-${AGENT_VERSION}-multiarch-lt"

# This may no longer be needed - but dp-agent will still try to provision it
BACKEND_CERT=$(cat <<EOC
PHONYCERT
EOC
)
