[Unit]
Description=DP Columnar Monitor for Couchbase Capella Columnar Nodes
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
StartLimitInterval=60

WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/dp-columnar
PermissionsStartOnly=true

# log with journald
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
