## Product Name, Version, and Build Number
export PKR_VAR_product_name=couchbase-server
export PKR_VAR_product_version=7.1.3
export PKR_VAR_product_bld_num=3480
export PKR_VAR_dp_revision=1

## serverless or not
export PKR_VAR_enableServerless=true

## Product arch, amd64 or aarch64
export PKR_VAR_product_arch=amd64

## The service (binary) that is being put on the image.
export PKR_VAR_dp_service=dp-agent

## Azure variables that are required to publish the image
export PKR_VAR_subscription_id=<azure subscription id>
export PKR_VAR_client_id=<azure client id>
export PKR_VAR_client_secret=<azure client secret>
export PKR_VAR_resource_group=image-factory
export PKR_VAR_image_gallery=capella
export PKR_VAR_image_definition=couchbase-cloud-server-7.1.3
export PKR_VAR_image_name=couchbase-cloud-server-7.1.3-3480-${PKR_VAR_dp_revision}
## Azure only accept version in the form of major.minor.patch.
export PKR_VAR_image_version=${PKR_VAR_product_bld_num}.0.${PKR_VAR_dp_revision}
# The Azure region you want to push the image to.
export PKR_VAR_region=eastus
# Regions the image should be replicated to.  replication_regions is a list
export PKR_VAR_replication_regions='["australiaeast", "brazilsouth", "centralindia", "centralus", "canadacentral", "eastus2", "eastus", "francecentral", "germanywestcentral", "swedencentral", "japaneast", "koreacentral", "northeurope", "norwayeast", "southeastasia", "uksouth", "westeurope", "westus2", "westus3"]'
