[Unit]
Description=Disable THP for Couchbase
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=couchbase-server.service
[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo never | tee /sys/kernel/mm/transparent_hugepage/enabled > /dev/null'
[Install]
WantedBy=basic.target
