# systemd version 219 installed on nodes
[Unit]
Description=Pushgateway for accepting push metrics from AI services
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

# automatically restart service on failure only, not on expected shutdown (i.e. non-0 exit codes)
Restart=always
# time to sleep in seconds before attempting to auto-restart the service
RestartSec=10

WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/pushgateway --web.config.file /etc/prometheus/pushgateway.yaml
PermissionsStartOnly=true

# log with journald
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
