export PKR_VAR_zone=us-central1-a

## The service (binary) that is being put on the image.
export PKR_VAR_dp_service=dp-agent

## The Couchbase Server version.
export PKR_VAR_server_version=7.1.3

export PKR_VAR_image_name=couchbase-cloud-server-7-1-3-3480

export PKR_VAR_project_id=
export PKR_VAR_env_suffix=

export PKR_VAR_access_token=

## serverless or provisioned
export PKR_VAR_ns_server_profile=serverless
