## Product Info
export PKR_VAR_product_pkg_name=couchbase-server-enterprise_7.6.2-3541-linux_amd64.deb
export PKR_VAR_product_version=7.6.2
export PKR_VAR_product_bld_num=3541
export PKR_VAR_product_arch=amd64

## ns_server profile: provisioned, coloumnar, serverless
export PKR_VAR_ns_server_profile=provisioned

## Image Name
## GCP image doesn't allow "." in its name.  Hence all "." are converted to "-".
export PKR_VAR_image_name=couchbase-cloud-server-7-6-2-3541-v1-0-33
export PKR_VAR_image_version=7-6-2

## Which zone should the image be hosted.
export PKR_VAR_zone=us-central1-a

## Agent service: dp-agent or dp-backup.
export PKR_VAR_dp_service=dp-agent

## agent sha
export PKR_VAR_agent_sha=c2c7574b

## GCP variables that are required to publish the image
export PKR_VAR_project_id=<resource project id>
export PKR_VAR_network_id=<image factory network id>
export PKR_VAR_access_token=<auth access token>
