# General Information
AGENT_VERSION='16.0.25'
BACKEND_ADDRESS='PLACEHOLDER_BACKEND_ADDRESS'
CUSTOMER_ID='PLACEHOLDER_CUSTOMER_ID'
SECRET='PLACEHOLDER_SECRET'
SUFFIX_D="-podman.deb"
PKG_PATH_D="https://shorelinedownload.blob.core.windows.net/agent/podman/deb"
SHORELINE_PKG_DEB="${PKG_PATH_D}/shoreline_${AGENT_VERSION}${SUFFIX_D}"
SUFFIX_R="-podman.noarch.rpm"
PKG_PATH_R="https://shorelinedownload.blob.core.windows.net/agent/podman/rpm"
SHORELINE_PKG_RPM="${PKG_PATH_R}/shoreline-agent-${AGENT_VERSION}${SUFFIX_R} ${PKG_PATH_R}/shoreline-agent-conf-${AGENT_VERSION}${SUFFIX_R} ${PKG_PATH_R}/shoreline-exporter-${AGENT_VERSION}${SUFFIX_R}"
ALLOW_SUDO=true
NODE_EXPORTER_VERSION='v1.5.0'
# Use podman instead of docker
USE_PODMAN=true
# Whether to run podman as root.
# Set PODMAN_ROOTFUL=true for Amazon Linux (default is false).
PODMAN_ROOTFUL=true
# Below values can be customized
AGENT_IMAGE='docker.io/shorelinesoftware/agent'
AGENT_IMAGE_TAG="release-${AGENT_VERSION}-multiarch-lt"
AGENT_FILES_DIRECTORY='/var/lib/shoreline/agent'
SSH_PORT='22'
NODE_EXPORTER_PORT='9100'
CADVISOR_PORT='8080'
CADVISOR_SCRAPE_INTERVAL='10'
SE_MOUNT='0'
