[Unit]
Description=SGW Agent Monitor for Sync Gateway Nodes in Capella
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/sgw-agent

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/sgw-agent
ExecStartPre=/usr/bin/chmod 755 /var/log/sgw-agent
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sgwagent

[Install]
WantedBy=graphical.target
