## Product Name, Version, and Build Number
export PKR_VAR_product_name=couchbase-sync-gateway
export PKR_VAR_product_version=3.0.3
export PKR_VAR_product_bld_num=4
export PKR_VAR_dp_revision=1

## Azure variables that are required to publish the image
export PKR_VAR_subscription_id=<azure subscription id>
export PKR_VAR_client_id=<azure client id>
export PKR_VAR_client_secret=<azure client secret>
export PKR_VAR_resource_group=image-factory
export PKR_VAR_image_gallery=capella
export PKR_VAR_image_definition=couchbase-cloud-sync-gateway-3.0.3
## Azure only accept version in the form of major.minor.patch.
export PKR_VAR_image_version=${PKR_VAR_product_bld_num}.0.${PKR_VAR_dp_revision}
export PKR_VAR_image_name=couchbase-cloud-sync-gateway-3.0.3-v${PKR_VAR_image_version}
# The Azure region you want to push the image to.
export PKR_VAR_region=eastus
# Regions the image should be replicated to.  replication_regions is a list
export PKR_VAR_replication_regions='["eastus", "canadacentral", "westus3", "norwayeast", "uksouth", "westeurope", "swedencentral", "australiaeast", "koreacentral", "centralindia", "brazilsouth"]'
