[Unit]
Description=SGW Agent Monitor for Sync Gateway Nodes in Capella
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60

WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/sgw-agent
PermissionsStartOnly=true

# log with journald
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
