# dp-accelerator contains couchbase-server and dp-accelerator
# product_pkg_name refers to the corresponding couchbase-server package here
export PKR_VAR_product_pkg_name=couchbase-server-enterprise_8.1.0-1248-linux_amd64.deb
export PKR_VAR_product_version=8-1-0
export PKR_VAR_product_bld_num=1248
export PKR_VAR_product_arch=amd64

## Image Name
## GCP image doesn't allow "." in its name.  Hence all "." are converted to "-".
export PKR_VAR_image_name=dp-accelerator-8-1-0-1248-v1-0-0

## Which zone should the image be hosted.
export PKR_VAR_zone=us-central1-a

## GCP variables that are required to publish the image
export PKR_VAR_project_id=<resource project id>
export PKR_VAR_network_id=<image factory network id>
export PKR_VAR_access_token=<auth access token>
