[Unit]
Description=Couchbase Cappella Firewall Rules
After=network.target

[Service]
Type=oneshot
ExecStart=/home/ubuntu/iptables-firewall.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
