## Product Info
export PKR_VAR_product_pkg_name=couchbase-sync-gateway-enterprise_3.1.5-3_x86_64.deb

## Image Name
## GCP image doesn't allow "." in its name.  Hence all "." are converted to "-".
export PKR_VAR_image_name=couchbase-cloud-sync-gateway-3-1-5-3-v1-0-0
export PKR_VAR_image_version=3-1-5

## Which zone should the image be hosted.
export PKR_VAR_zone=us-central1-a

## agent sha
export PKR_VAR_agent_sha=main

## GCP variables that are required to publish the image
export PKR_VAR_project_id=<resource project id>
export PKR_VAR_network_id=<image factory network id>
export PKR_VAR_access_token=<auth access token>
