export PKR_VAR_zone=us-central1-a

## The service (binary) that is being put on the image.
export PKR_VAR_dp_service=sgw-agent

## The Couchbase Server version.
export PKR_VAR_server_version=3.0.5

export PKR_VAR_image_name=

export PKR_VAR_project_id=
export PKR_VAR_env_suffix=

export PKR_VAR_access_token=
