## Product Info
export PKR_VAR_product_pkg_name=couchbase-server-enterprise-8.0.0-3777-linux.amd64.deb
export PKR_VAR_product_name=datastore-agent
export PKR_VAR_product_version=8.0.0
export PKR_VAR_product_bld_num=3777
export PKR_VAR_product_arch=amd64

## ns_server profile: provisioned, coloumnar, serverless
export PKR_VAR_ns_server_profile=provisioned

## AMI Name
export PKR_VAR_ami_name=datastore-agent-8.0.0-3777-amd64-v1.0.1

## The AWS region you want to push the image to.
export PKR_VAR_region=us-east-1

## The region where AMI should be copied to.
export PKR_VAR_ami_regions='["ap-south-2", "ap-south-1", "eu-south-1", "eu-south-2", "me-central-1", "il-central-1", "ca-central-1", "eu-central-1", "eu-central-2", "us-west-1", "us-west-2", "af-south-1", "eu-north-1", "eu-west-3", "eu-west-2", "eu-west-1", "ap-northeast-3", "ap-northeast-2", "me-south-1", "ap-northeast-1", "sa-east-1", "ap-east-1", "ap-southeast-1", "ap-southeast-2", "ap-southeast-3", "ap-southeast-4", "us-east-1", "us-east-2"]'

