[Unit]
Description=DataStore Agent
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/datastore-agent
PermissionsStartOnly=true

# log with journald
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
