# systemd version 219 installed on nodes
[Unit]
Description=DP Observer for Couchbase Capella Nodes
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
LimitNOFILE=1024

# automatically restart service on failure only, not on expected shutdown (i.e. non-0 exit codes)
Restart=always
# time to sleep in seconds before attempting to auto-restart the service
RestartSec=10

WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/dp-observer
PermissionsStartOnly=true

# log with journald
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
