[Unit]
Description=Node exporter exporting Prometheus metrics regarding the node
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/node_exporter \
                --collector.disable-defaults \
                --collector.cpu \
                --collector.diskstats \
                --collector.filefd \
                --collector.filesystem \
                --collector.ipvs \
                --collector.meminfo \
                --collector.netdev \
                --collector.netstat \
                --collector.schedstat \
                --collector.stat \
                --collector.vmstat \
                --collector.qdisc \
                --collector.tcpstat \
                --web.listen-address=:12004 \
                --web.disable-exporter-metrics

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/node-exporter
ExecStartPre=/usr/bin/chmod 755 /var/log/node-exporter
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-exporter

[Install]
WantedBy=multi-user.target
